@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Add your movies to the collection:</h1>
    <br />
    <img src="~/JoelHilton.jpg" width="800"/>
</div>

<a asp-action="AddMovies">Click to add movies</a>