@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Your movie " + Model.Title + ", was added!";
}

@model _413Assignment3.Models.MovieResponse


<div>
    <h2>Your movie will be added to the list</h2>
    @if (Model.Title == "Independence Day")
    {
        @:You cannot add that movie;
    }
    else
    {
        @:An excellent addition!
    }

</div>

<div>
    <a asp-action="MovieList">See the movie list</a>
</div>


